*.pem

047-error-checking/names.txt
048-errors-logging/log
052-testing/c.out

WebDev/uploads/*
WebDev/001-templates/index.html
WebDev/002-text-template-package/index.html

gRPC-Master-Class/ssl/*
!gRPC-Master-Class/ssl/instructions.sh