<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Slice of structs</title>
  </head>
  <body>
    <h3>Basic example</h3>
    <ul>
      {{range .}}
      <li>{{.Name}} - {{.Age}}</li>
      {{end}}}
    </ul>

  </body>
</html>