<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Slices example</title>
  </head>
  <body>
    <h3>Basic example</h3>
    <ul>
      {{range .}}
      <li>{{.}}</li>
      {{end}}
    </ul>

    <h3>Using variables</h3>
    <ul>
      {{range $index, $element := .}}
      <li>{{$index}} - {{$element}}</li>
      {{end}}
    </ul>
  </body>
</html>