<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Struct example</title>
  </head>
  <body>
    <h3>Basic example</h3>
    <ul>
      <li>{{.Name}} - {{.Age}}</li>
    </ul>

  </body>
</html>