<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Nested templates</title>
  </head>
  <body>
    <h1>Page header</h1>
    <div>{{template "custom-content" .}}</div>
  </body>
</html>